<header>
  <div class="container">
    <div class="shape">
        <div class="logo">
          <img src="/images/logo.png" alt="">
        </div>
        <div class= "content">
          <br><br>
          <hr class="separator">
          <h1>MARKETING DIGITAL Y DESARROLLO WEB EN MENDOZA</h1>
          <h2>
            Iniciá tu negocio en el mundo del marketing digital. <br>
            Desarrollemos juntos una estrategia y una identidad para crear tu
            propia página
            web. <br>
            Adaptate, hacete visible, ponete online.
          </h2>
        </div>
    </div>
    <div class="circle">
        <i class="fa fa-arrow-down"></i>
    </div>
  </div>
</header>
