<header>
  <div class="container">
    <div class="shape">
        <div class="logo">
          <img src="/images/logo.png" alt="">
        </div>
        <div class= "content">
          <br><br>
          <hr class="separator">
          <h1>DISEÑO WEB MENDOZA</h1>
          <h2>Desarrollo de páginas web hechas a medida</h2>
          <h3>
            El equipo de efecto web desarrolla el diseño y la experiencia de tus
            clientes dentro de tu sitio web en base a una estrategia de
            marketing digital que te asegura aumentar las ventas de tu negocio.
          </h3>
        </div>
    </div>
    <div class="circle">
        <i class="fa fa-arrow-down"></i>
    </div>
  </div>
</header>
