{{#extend "default"}}

  {{#content "main"}}

    <section id="web">
      <div class="container">
        <div class="content">
          <div class="header">
            <div class="text"><h3>TU WEB TRABAJA POR VOS</h3></div>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="item">
          <h4 class="item-title">POSICIONAMIENTO SE0</h4>
          <hr class="simple">
          <p>
            Aumenta el 50% de tus ventas al aparecer en los primeros 3 lugares
            de los resultados de búsqueda en el momento exacto en que tus
            potenciales clientes buscan lo que vos ofreces.
          </p>
        </div>
        <div class="item">
          <h4 class="item-title">DISEÑO CREATIVO</h4>
          <hr class="simple">
          <p>
            El diseño genera el 60% de la intención de compra ya que mediante él
            comunicamos el concepto y el posicionamiento de nuestro negocio y
            despertamos emociones positivas en nuestros usuarios.
          </p>
        </div>
        <div class="item">
          <h4 class="item-title">PÁGINAS RESPONSIVE</h4>
          <hr class="simple">
          <p>
            La tendencia multicanal y multiplataforma es esencial para lograr
            los resultados y cumplir con nuestros objetivos de negocios. En los
            últimos años el 70% de las visitas se producen a través del celular.
          </p>
        </div>
        <div class="item">
          <h4 class="item-title">CÓDIGO LIMPIO</h4>
          <hr class="simple">
          <p>
            La programación de un sitio o página web es fundamental para que los
            motores de Google entiendan y elijan mostrarnos primero en sus
            resultados, por eso trabajamos en la estructura web.
          </p>
        </div>
        <div class="item">
          <h4 class="item-title">EMBUDOS DE CONVERSIÓN EFICIENTES</h4>
          <hr class="simple">
          <p>
            Logra resultados (ventas) reales dentro de tu web basando el diseño
            en el comportamiento y las decisiones concretas y medibles de los
            usuarios, en base al conocimiento del público.
          </p>
        </div>
      </div>
    </section>


    <section id="prices">
      <div class="container">
        <div class="title">
          <h3>¿CÓMO EMPEZAMOS?</h3>
          <hr class="separator-black">
        </div>
        <div class="content">
          <div class="item">
            <div class="top">
              <h4>LANDING PAGE</h4>
              <div class="circle">
                <i>$6100</i>
              </div>
            </div>
            <div class="bottom">
              <p>En 10 días</p>
              <p>Selección de plantilla</p>
              <p>Selección de servidor</p>
              <p>Única página</p>
              <a class="button select-plan" href="#contact" data-plan="Plantilla">ELEGIR PLAN</a>
            </div>
          </div>

          <div class="blue">
            <div class="top">
              <h4>SITIO WEB PERSONALIZADO</h4>
              <div class="circle">
                <i>$9800</i>
              </div>
            </div>
            <div class="bottom">
              <p>En 20 días</p>
              <p>Estrategia S.E.O.</p>
              <p>Diseño personalizado</p>
              <p>Múltiples páginas</p>
              <a class="button select-plan" href="#contact" id="select" data-plan="Personalizada">ELEGIR PLAN</a>
            </div>
          </div>

          <div class="item">
            <div class="top">
              <h4>E-COMMERCE</h4>
              <div class="circle">
                <i>$16300</i>
              </div>
            </div>
            <div class="bottom">
              <p>En 40 días</p>
              <p>Estrategia S.E.O.</p>
              <p>Diseño y Sistema personalizado</p>
              <p>Desarrollo de estrategia</p>
              <a class="button select-plan" href="#contact" id="select" data-plan="E-Commerce">ELEGIR PLAN</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="prices">
      <div class="container">
        <div class="title">
          <h3>SERVICIOS ONLINE</h3>
          <hr class="separator-black">
        </div>
      </div>
    </section>

    <section id="social">
      <div class="container">
        <div class="image">
          <img src="/images/notebook.png" alt="">
        </div>
        <div class="content">
          <div class="header">
            <div class="rectangle"></div>
            <div class="text"><h3>SOCIAL MEDIA</h3></div>
          </div>
          <div class="text">
            <p>Estrategias de Community manager y redes sociales en Mendoza.</p>
          </div>
          <div class="circle">
            <i>$5500</i>
            <p>mensual</p>
          </div>
        </div>
      </div>
    </section>

    <section id="advertising">
      <div class="container">
        <div class="image">
          <img src="/images/celular.png" alt="">
        </div>
        <div class="content">
          <div class="header">
            <div class="text"><h3>PUBLICIDAD ON-LINE</h3></div>
            <div class="rectangle"></div>
          </div>
          <div class="text">
            <p>El mundo del marketing digital está en tus manos.</p>
            <p>Hace presencia en la section web.</p>
          </div>
          <div class="circle">
            <i>$5500</i>
            <p>mensual</p>
          </div>
        </div>
      </div>
    </section>
  {{/content}}


{{/extend}}
