{{#extend "default"}}

  {{#content "main"}}

    <section id="services">
      <div class="container">
        <div id="item1" class="item">
        </div>
        <div id="item2" class="item">
        </div>
      </div>
    </section>

    <section id="prices">
      <div class="container">
        <div class="title">
          <h3>NUESTROS PRECIOS</h3>
          <p>Precios adaptados para cada cliente en particular</p>
          <hr class="separator-black">
        </div>
        <div class="content">
          <div class="item">
            <div class="top">
              <h4>PLANTILLA</h4>
              <div class="circle">
                <i>$4500</i>
              </div>
            </div>
            <div class="bottom">
              <p>En 10 días</p>
              <p>Selección de plantilla</p>
              <p>Selección de servidor</p>
              <p>Optimización de contenido</p>
              <a class="button select-plan" href="#contact" data-plan="Plantilla">ELEGIR PLAN</a>
            </div>
          </div>

          <div class="blue">
            <div class="top">
              <h4>PERSONALIZADA</h4>
              <div class="circle">
                <i>$7200</i>
              </div>
            </div>
            <div class="bottom">
              <p>En 20 días</p>
              <p>Estrategia S.E.O.</p>
              <p>Diseño personalizado</p>
              <p>Desarrollo de estrategia</p>
              <a class="button select-plan" href="#contact" id="select" data-plan="Personalizada">ELEGIR PLAN</a>
            </div>
          </div>

          <div class="item">
            <div class="top">
              <h4>E-COMMERCE</h4>
              <div class="circle">
                <i>$11300</i>
              </div>
            </div>
            <div class="bottom">
              <p>En 40 días</p>
              <p>Estrategia S.E.O.</p>
              <p>Diseño y Sistema personalizado</p>
              <p>Desarrollo de estrategia</p>
              <a class="button select-plan" href="#contact" id="select" data-plan="E-Commerce">ELEGIR PLAN</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="social">
      <div class="container">
        <div class="image">
          <img src="/images/notebook.png" alt="">
        </div>
        <div class="content">
          <div class="header">
            <div class="rectangle"></div>
            <div class="text"><h3>SOCIAL MEDIA</h3></div>
          </div>
          <div class="text">
            <p>Estrategias de Community manager y redes sociales en Mendoza.</p>
          </div>
          <div class="circle">
            <i>$4500</i>
            <p>mensual</p>
          </div>
        </div>
      </div>
    </section>

    <section id="advertising">
      <div class="container">
        <div class="image">
          <img src="/images/celular.png" alt="">
        </div>
        <div class="content">
          <div class="header">
            <div class="text"><h3>PUBLICIDAD ON-LINE</h3></div>
            <div class="rectangle"></div>
          </div>
          <div class="text">
            <p>EL mundo del marketing digital está en tus manos.</p>
            <p>Hace presencia en la section id="web".</p>
          </div>
          <div class="circle">
            <i>$4500</i>
            <p>mensual</p>
          </div>
        </div>
      </div>
    </section>
  {{/content}}


{{/extend}}
