@import './colors';
@import './responsive';

#services {
  .container {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    .item {
      align-content: center;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: justify;
      text-align-last: center;
      padding: 3rem 2rem;
      color: $dark-gray;
      flex: 1;
      width: 50%;
      @include mobile {
        padding: 1rem 1rem;
        width: 100%;
        text-align: center;
      }

      .item-title {
        font-size: 1.5rem;
        color: $black;
        width: 100%;
        margin-top: 0.2rem;
        @include mobile {
          font-size: 0.8rem;
        }
      }
      p {
        font-size: 1.2rem;
        @include mobile {
          font-size: 0.8rem;
        }
      }
      .icon {
        width: 5rem;
        height: 5rem;
        text-align: center;
        margin-bottom: 1rem  ;
        @include mobile {
          width: 3rem;
          height: 3rem;
        }
        i {
          font-size: 2rem;
          color: $light-blue;
          margin-top: 1.5rem;
          @include mobile {
            font-size: 1rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .item {
    .icon {
      border: thin gray solid;
    }
    .item-title {
      color: $dark-gray;
    }
  }
}
